h1{
    text-align: center;
    color: darkcyan;
}
body{
    background-color:#EBF1F0;
}
footer {
    text-align: center;
    padding: 3px;
    margin-top: 500px;
    background-color: rgb(10, 3, 1);
    color: white;
  }
  aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }